<template>
    <header class="px-3 sm:px-10 md:px-24 py-10 bg-gray-100">
        <div class="flex justify-between">
            <div>
                <inertia-link href="/" class="text-primary font-medium text-xl">EduHub</inertia-link>
            </div>
            <div>
                <inertia-link href="/course" class="px-5 py-3 shadow text-primary rounded-full bg-white">Start Learning</inertia-link>
            </div>
        </div>
        <div class="my-32 max-w-2xl text-secondary sm:pr-7">
            <span class="tracking-widest">Education for everyone</span>
            <h2 class="text-3xl md:text-4xl font-medium mt-5">An online tool that helps make education accessible to everyone, from everywhere! </h2>
            <inertia-link href="/course" class="bg-primary text-white rounded-full px-5 py-3 mt-7 inline-block">
                <i class="fas fa-search inline-block mr-1"></i> Start Learning
            </inertia-link>
        </div>
    </header>
</template>

<script>
export default {
    
}
</script>