<template>
    <main class="w-full flex justify-center bg-gray-100 h-screen items-center">
        <div class="max-w-2xl w-full sm:w-3/4 md:w-2/3 bg-white shadow-md text-secondary px-3 pb-20 flex flex-col rounded-md sm:px-5 pt-10">
            <h1 class="text-secondary text-xl mt-5">{{category}} Learning Resources</h1>
            <div v-for="(course, key) in courses.data" :key="key" class="border items-center border-gray-300 py-2 px-3 my-3 rounded-md flex justify-between flex-wrap">
                <div class="w-full sm:w-1/2">
                    <h2 class="text-lg font-medium mb-2">{{ course.title }}</h2>
                    <span class="text-gray-500 text-sm block">
                        <i v-if="course.certificate" class="fa fa-check text-green-500"></i>
                        <i v-else class="fa fa-times text-red-500"></i>
                        Certification
                    </span>
                    <span class="text-gray-500 text-sm">
                        Platform: {{course.platform}}
                    </span>
                </div>
                <a :href="course.url" class="text-right inline-block bg-primary text-white rounded-full px-4 py-2 ">Enroll</a>
            </div>
        </div>
    </main>
</template>

<script>
export default {
    props: {
        category: String,
        courses: Object,
    },
}
</script>