<template>
    <main class="w-full flex justify-center bg-gray-100 h-screen items-center">
        <div class="max-w-2xl w-full sm:w-3/4 md:w-2/3 bg-white shadow-md text-secondary px-3 pb-20 flex flex-col rounded-md sm:px-5 pt-10">
            <h2 class="text-secondary text-xl mt-5">Select your field to continue.</h2>
            <form @submit.prevent="findCourse" class="mt-5 m">
                <div>
                    <label for="" class="block text-gray-500">Field of study *</label>
                    <select v-model="form.category" id="category" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 bg-white w-full sm:w-3/5" required>
                        <option value="" disabled selected>Select</option>
                        <option v-for="(category, key) in categories" :value="category" :key="key">{{ category }}</option>
                    </select>
                </div>
                <button type="submit" class="bg-primary text-white rounded-full px-5 py-3 mt-7 inline-block">
                    <i class="fa fa-search"></i>
                    Find Courses
                </button>
            </form>
        </div>
    </main>
</template>

<script>
export default {
    props: {
        categories: Array,
    },
    setup() {
        const form = {
            category: null,
        }
        return {form}
    },
    methods: {
        findCourse() {
            this.$inertia.get('/course/category/' + this.form.category)
        }
    }
}
</script>