<template>
    <button type="submit" class="px-3 py-2 rounded-md bg-primary text-white my-3">{{ text }}</button>
</template>

<script>
export default {
    props: {
        text: String,
    }
}
</script>