<template>
    <header class="flex border-b border-solid border-gray-300">
        <div class="hidden sm:block md:w-1/5 sm:w-1/4 bg-gray-200 p-7">
            <inertia-link href="/" class="font-medium text-xl pl-5">EduHub</inertia-link>
        </div>
        <div class="sm:hidden p-3 text-lg flex w-full">
            <i class="fa fa-bars text-xl"></i>
            <inertia-link href="/" class="inline-block text-center w-full text-2xl">EduHub</inertia-link>
        </div>
    </header>
</template>

<script>
export default {
    
}
</script>