<template>
    <Header />
    <section class="flex flex-row min-h-screen items-stretch">
        <sidebar></sidebar>
        <main class="p-3 sm:p-5 md:p-7 w-full md:w-4/5 sm:w-3/4">
            <slot></slot>
        </main>
    </section>
</template>

<script>
import Header from './Header'
import Sidebar from './Sidebar'
export default {
    components: {
        Header,
        Sidebar,
    }
}
</script>

<style>
html, body, body > section, aside {
    height: 100%;
}
</style>