<template>
    <div class="hidden sm:block md:w-1/5 sm:w-1/4 bg-gray-200 p-7 text-primary self-stretch">
        <nav class="flex flex-col justify-stretch">
            <ul>
                <li class="my-8">
                    <inertia-link :class="{ 'border-primary border-l-4': $page.url === '/admin/dashboard' }" href="/admin/dashboard" class="sm:pl-2 md:pl-5">
                        <i class="fa fa-home mr-2"></i>
                        Dashboard
                    </inertia-link>
                </li>
                <li class="my-8">
                    <inertia-link :class="{'border-primary border-l-4': $page.url === '/admin/course'}" href="/admin/course" class="sm:pl-2 md:pl-5">
                        <i class="fa fa-graduation-cap mr-2"></i>
                        Courses
                    </inertia-link>
                </li>
            </ul>
            <ul>
                <li class="my-48">
                    <button @click="logout" class="sm:pl-2 md:pl-5 text-red-500">
                        <i class="fa fa-sign-out mr-2"></i>
                        Logout
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
export default {
    methods: {
        logout(e) {
            e.preventDefault()
            this.$inertia.post('/admin/logout', {
                _token: this.$page.props.csrf_token
            })
        }
    },
}
</script>