<template>
    <layout>
    <h1 class="font-medium sm:text-2xl text-xl">Dashboard</h1>
        <section class="bg-primary w-full rounded text-white flex justify-between p-5 mt-5 text-center">
            <div class="w-1/3 px-5 py-2">
                <i class="text-3xl fa fa-school"></i>
                <h2 class="mt-2">Courses</h2>
                <span class="font-medium text-2xl mt-2">{{ courses }}</span>
            </div>
            <div class="w-1/3 px-5 py-2">
                <i class="text-3xl fa fa-eye"></i>
                <h2 class="mt-2">Views</h2>
                <span class="font-medium text-2xl mt-2">N/A</span>
            </div>
            <div class="w-1/3 px-5 py-2">
                <i class="text-3xl fas fa-star-half-alt"></i>
                <h2 class="mt-2">Reviews</h2>
                <span class="font-medium text-2xl mt-2">{{reviews}}</span>
            </div>
        </section>
        <section class="py-5 my-5">
            <div class="flex justify-between">
                <h2 class="font-medium sm:text-xl text-lg">Views Chart</h2>
                <span class="text-primary">30 Days</span>
            </div>
        </section>
    </layout>
</template>

<script>
import Layout from '../Components/Layout'
export default {
    components: {
        Layout,
    },
    props: {
        courses: Number,
        reviews: Number,
    }
}
</script>