<template>
    <main class="bg-gray-300 flex flex-col justify-center items-center h-screen">
        <section class="bg-white sm:rounded-md p-5 sm:p-8 md:p-16 sm:py-10 w-11/12 sm:w-3/4 md:w-6/12 shadow">
            <h2 class="text-xl sm:text-2xl">Login</h2>
            <span class="text-gray-700 my-1 inline-block pb-2 text-sm">Welcome back! Login to continue.</span>
            <form @submit.prevent="login" class="mt-3">
                <div class="text-red-500 my-2 text-sm" v-if="form.errors.error">
                    {{form.errors.error}}
                </div>
                <div class="my-3">
                    <label for="email" class="block mb-1 text-sm">
                        Email
                        <span class="text-primary">*</span>
                    </label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.email">
                        {{form.errors.email}}
                    </div>
                    <input type="email" v-model="form.email" class="border border-gray-300 rounded-md py-1 px-2" required>
                </div>
                <div class="my-3">
                    <label for="password" class="block mb-1 text-sm">
                        Password
                        <span class="text-primary">*</span>
                    </label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.password">
                        {{form.errors.password}}
                    </div>
                    <input type="password" v-model="form.password" class="border border-gray-300 rounded-md py-1 px-2" required>
                </div>
                <div class="my-3 flex items-center">
                    <input type="checkbox" v-model="form.remember" name="" id="" class="mr-2 text-primary bg-primary">
                    <span class="text-sm remember">Remember me</span>
                </div>
                <button type="submit" class="px-3 py-2 rounded-md bg-primary text-white my-3">Login</button>
                <inertia-link class="block text-primary text-sm mt-5" href="">Forgot password?</inertia-link>
            </form>
        </section>
    </main>
</template>

<script>
import { useForm } from '@inertiajs/inertia-vue3'
export default {
    data() {
        return {
            csrf_token: this.$page.props.csrf_token
        }
    },
    setup() {
        const form = useForm({
            email: null,
            password: null,
            remember: false,
        })
        return { form };
    },
    created() {
        this.form._token = this.csrf_token
    },
    methods: {
        login(e) {
            this.form.clearErrors()
            this.form.post('/admin/login')
        }
    },
}
</script>
