<template>
    <main class="bg-gray-300 flex flex-col justify-center items-center h-screen">
        <section class="bg-white sm:rounded-md p-5 sm:p-8 md:p-16 sm:py-10 w-11/12 sm:w-3/4 md:w-6/12 shadow">
            <h2 class="text-xl sm:text-2xl">Register</h2>
            <span class="text-gray-700 my-1 inline-block pb-2 text-sm">Welcome! Create an account to continue.</span>
            <form @submit.prevent="register" class="mt-3">
                <div class="my-3">
                    <label for="name" class="block mb-1 text-sm">
                        Name
                        <span class="text-primary">*</span>
                    </label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.name">
                        {{form.errors.name}}
                    </div>
                    <input type="text" class="border border-gray-300 rounded-md py-1 px-2" v-model="form.name">
                </div>
                 <div class="my-3">
                    <label for="email" class="block mb-1 text-sm">
                        Email
                        <span class="text-primary">*</span>
                    </label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.email">
                        {{form.errors.email}}
                    </div>
                    <input type="email" class="border border-gray-300 rounded-md py-1 px-2" v-model="form.email">
                </div>
                 <div class="my-3">
                    <label for="password" class="block mb-1 text-sm">
                        Password
                        <span class="text-primary">*</span>
                    </label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.password">
                        {{form.errors.password}}
                    </div>
                    <input type="password" class="border border-gray-300 rounded-md py-1 px-2" v-model="form.password">
                </div>
                <button type="submit" class="px-3 py-2 rounded-md bg-primary text-white my-3">Register</button>
                <span class="text-sm block mt-3">
                    Already have an account?
                <inertia-link href="/admin/login" class="text-primary hover:underline">Log in</inertia-link>
                </span>
            </form>
        </section>
    </main>
</template>

<script>
import Button from '../Components/Button'
import { useForm } from '@inertiajs/inertia-vue3'

export default {
    components: {
        Button,
    },
    data() {
        return {
            csrf_token: this.$page.props.csrf_token,
        }
    },
    methods: {
        register(e) {
            this.form.post('/admin/register')
        }
    },
    setup() {
        const form = useForm({
            name: null,
            email: null,
            password: null,
        })
        return { form }
    },
    created() {
        this.form._token = this.$page.props.csrf_token
    }
}
</script>