<template>
    <layout>
        <h2 class="font-medium sm:text-2xl text-xl">Edit Course</h2>
        <section class="mt-5">
            <form @submit.prevent="updateCourse()">
                <div class="text-green-500 my-2 text-sm" v-if="form.errors.success">
                    Course Updated! Click 
                    <inertia-link href="/course" class="underline">here</inertia-link>
                    to go back.
                </div>
                <div class="my-2 sm:my-3">
                    <label for="title" class="text-gray-500 text-sm block">Course Title *</label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.title">
                        {{form.errors.title}}
                    </div>
                    <input type="text" v-model="form.title" id="title" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 w-full sm:w-1/2" required>
                </div>
                <div class="flex flex-wrap">
                    <div class="my-2 sm:my-3">
                        <label for="slug" class="text-gray-500 text-sm block">Slug *</label>
                        <div class="text-red-500 my-2 text-sm" v-if="form.errors.slug">
                            {{form.errors.slug}}
                        </div>
                        <input type="text" v-model="form.slug" id="slug" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 mr-2" placeholder="e.g CS50" required>
                    </div>
                    <div class="my-2 sm:my-3">
                        <label for="platform" class="text-gray-500 text-sm block">Platform *</label>
                        <div class="text-red-500 my-2 text-sm" v-if="form.errors.platform">
                            {{form.errors.platform}}
                        </div>
                        <input type="text" v-model="form.platform" id="platform" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 mr-2" placeholder="e.g CS50" required>
                    </div>
                </div>
                <div class="my-2 sm:my-3">
                    <label for="url" class="text-gray-500 text-sm block">URL *</label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.url">
                        {{form.errors.url}}
                    </div>
                    <input type="text" v-model="form.url" id="url" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 mr-2 w-1/2" placeholder="e.g https://www.edx.org/course/introduction-computer-science-harvardx-cs50x" required>
                </div>
                <div class="w-full my-2 sm:my-3">
                    <label for="category" class="text-gray-500 text-sm block">Category *</label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.category">
                        {{form.errors.category}}
                    </div>
                    <select v-model="form.category" id="category" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 pr-40 bg-white w-full sm:w-1/2" required>
                        <option value="" disabled selected>Select</option>
                        <option v-for="(category, key) in supportedCourse.categories" :value="category" :key="key">{{ category }}</option>
                    </select>
                </div>
                <div class="sm:w-auto w-full my-2 sm:my-3">
                    <label for="description" class="text-gray-500 text-sm block">Description</label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.description">
                        {{form.errors.description}}
                    </div>
                    <textarea v-model="form.description" id="description" class="w-full sm:w-1/2 h-24 resize-none border border-gray-300 py-2 px-3 rounded-md text-gray-700"></textarea>
                </div>
                <div class="sm:w-auto w-full my-2 sm:my-3">
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.certificate">
                        {{form.errors.certificate}}
                    </div>
                    <input type="checkbox" v-model="form.certificate" id="">
                    <span class="ml-2 text-gray-500 text-sm">Certification included?</span>
                </div>
                <button class="py-2 px-3 bg-primary rounded-md shadow text-white my-2 sm:my-3">Update Course</button>
            </form>
        </section>
    </layout>
</template>

<script>
import Layout from '../Components/Layout'
import { useForm } from '@inertiajs/inertia-vue3'

export default {
    components: {
        Layout,
    },
    props: {
        supportedCourse: Object,
        course: Object,
    },
    setup() {
        const form = useForm({})
        return { form }
    },
    created() {
        this.form = useForm(this.course)
    },
    methods: {
        updateCourse() {
            this.form.put(`/admin/course/${this.course.id}`)
        },
    },
}
</script>