<template>
    <layout>
        <h2 class="font-medium sm:text-2xl text-xl">Add New Course</h2>
        <section class="mt-5">
            <form @submit.prevent="addCourse()">
                <div class="text-green-500 my-2 text-sm" v-if="form.errors.success">
                    Course added successfully!
                    <input type="hidden" :value="form.reset()">
                </div>
                <div class="my-2 sm:my-3">
                    <label for="title" class="text-gray-500 text-sm block">Course Title *</label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.title">
                        {{form.errors.title}}
                    </div>
                    <input type="text" v-model="form.title" id="title" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 w-full sm:w-1/2" placeholder="CS50's Introduction to Computer Science" required>
                </div>
                <div class="flex flex-wrap">
                    <div class="my-2 sm:my-3">
                        <label for="slug" class="text-gray-500 text-sm block">Slug *</label>
                        <div class="text-red-500 my-2 text-sm" v-if="form.errors.slug">
                            {{form.errors.slug}}
                        </div>
                        <input type="text" v-model="form.slug" id="slug" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 mr-2" placeholder="e.g CS50" required>
                    </div>
                    <div class="my-2 sm:my-3">
                        <label for="platform" class="text-gray-500 text-sm block">Platform *</label>
                        <div class="text-red-500 my-2 text-sm" v-if="form.errors.platform">
                            {{form.errors.platform}}
                        </div>
                        <input type="text" v-model="form.platform" id="platform" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 mr-2" placeholder="e.g edX" required>
                    </div>
                </div>
                <div class="my-2 sm:my-3">
                    <label for="url" class="text-gray-500 text-sm block">URL *</label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.url">
                        {{form.errors.url}}
                    </div>
                    <input type="text" v-model="form.url" id="url" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 mr-2 w-1/2" placeholder="e.g https://www.edx.org/course/introduction-computer-science-harvardx-cs50x" required>
                </div>
                <div class="w-full my-2 sm:my-3">
                    <label for="category" class="text-gray-500 text-sm block">Category *</label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.category">
                        {{form.errors.category}}
                    </div>
                    <select v-model="form.category" id="category" class="border border-gray-300 py-2 px-3 rounded-md text-gray-700 pr-40 bg-white w-full sm:w-1/2" required>
                        <option value="" disabled selected>Select</option>
                        <option v-for="(category, key) in supportedCourse.categories" :value="category" :key="key">{{ category }}</option>
                    </select>
                </div>
                <div class="sm:w-auto w-full my-2 sm:my-3">
                    <label for="description" class="text-gray-500 text-sm block">Description</label>
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.description">
                        {{form.errors.description}}
                    </div>
                    <textarea v-model="form.description" id="description" class="w-full sm:w-1/2 h-24 resize-none border border-gray-300 py-2 px-3 rounded-md text-gray-700"></textarea>
                </div>
                <div class="sm:w-auto w-full my-2 sm:my-3">
                    <div class="text-red-500 my-2 text-sm" v-if="form.errors.certificate">
                        {{form.errors.certificate}}
                    </div>
                    <input type="checkbox" v-model="form.certificate" id="">
                    <span class="ml-2 text-gray-500 text-sm">Certification included?</span>
                </div>
                <button class="py-2 px-3 bg-primary rounded-md shadow text-white my-2 sm:my-3">Add Course</button>
            </form>
        </section>
        <section class="py-5 my-5">
            <h2 class="font-medium sm:text-2xl text-xl">Courses</h2>
            <div>
                <div class="flex bg-gray-200 hover:bg-gray-300 justify-between p-3 sm:px-5 rounded-t-md mt-5">
                    <h3 class="w-3/6 sm:w-2/5">Title</h3>
                    <h3 class="w-2/6 sm:w-1/5">Platform</h3>
                    <h3 class="w-1/6 sm:w-1/5">Action</h3>
                </div>
                <div v-for="(course, key) in courses.data" :key="key" class="flex justify-between p-3 sm:px-5 border border-t-0 border-gray-300">
                    <p class="w-3/6 sm:w-2/5 pr-2">{{ course.title }}</p>
                    <p class="w-2/6 sm:w-1/5">{{ course.platform }}</p>
                    <div class="w-1/6 sm:w-1/5 text-primary pl-4 relative">
                        <i @click="course.showActions = !course.showActions" class="fa fa-ellipsis-h cursor-pointer"></i>
                        <div v-if="course.showActions" class="z-30 absolute right-14 sm:right-24 top-4 bg-white border border-gray-300 rounded-sm p-3 text-sm">
                            <inertia-link :href="`/admin/course/edit/${course.id}`" class="block my-1">Edit</inertia-link>
                            <button @click="deleteCourse(course.id)" class="block text-red-500 my-1">Delete</button>
                        </div>
                    </div>
                </div>
                <div v-if="this.courses.data.length === 0" class="p-3 sm:px-5 border border-t-0 border-gray-300 text-center text-gray-700 py-5">
                    You are yet to add any course!
                </div>
            </div>
        </section>
    </layout>
</template>

<script>
import Layout from '../Components/Layout'
import { useForm } from '@inertiajs/inertia-vue3'

export default {
    components: {
        Layout,
    },
    props: {
        supportedCourse: Object,
        courses: Object,
    },
    setup() {
        const form = useForm({
            title: null,
            platform: null,
            certificate: false,
            url: null,
            description: null,
            slug: null,
            category: null,
        })
        return { form }
    },
    created() {
        this.courses.data.map((course) => {
            course.showActions = false
        })
    },
    methods: {
        addCourse() {
            this.form.post('/admin/course')
        },
        deleteCourse(id) {
            this.$inertia.delete(`/admin/course/${id}`, {
                preserveScroll: true
            })
        }
    },
}
</script>